.maindiv{
    width: 100%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parentdiv{

    min-height: 100vh;
}
.developers{
    margin-top: 80px;
    width: 100%;

}
.innerdev{
    max-width: 1100px;
    margin: 0 auto;
}

.info{
    background-color: white;
    border-radius: 5px;
}

.sidebar{
    width: 100%;
    border: 2px solid black;
    height: 100%;
    background-color: white;
    padding: 1rem;
    transition: all 0.3s ease;
}
.sidebar_top{
    
    display: flex;
    align-content: center;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
    border-bottom: 1px solid rgb(179, 175, 175);
}

.sidebar_img{
    width:3.4rem;
    height: 3.5rem;
    object-fit: contain;
    border-radius: 1rem;
}

.sidebar_list{
    margin-top: 40px;
    list-style: none;

}
.sidebar_link{
    display: inline-block;
    font-size: 0.9rem;
    text-decoration: none;
    color: black;
    padding: 0.8rem 1rem;
    display: flex;
    background-color: rgb(87, 77, 77);
    margin-bottom: 1rem;
    border-radius: 0.8rem;
    align-items: center;

}
.sidebar_link span{
    margin-left: 0.6rem;
}
.link_icon{
    display: inline-block;
}

.logo_name{
    font-size: 20px;
}

.btn{
    position: absolute;
    top: 4.9rem; /* Adjust this to align with the XpoArena name */
    left: 240px; /* Adjust this to move the button to the right of the sidebar */
    border: none;
    background-color: #fff;
    width: 1.5rem;
    height: 1.5rem;
    border:1px solid #e5e7eb;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 9999; 
    transition: left 0.3s ease, top 0.3s ease; /* Smooth transition for left and top properties */
    /* Ensure the button is above other elements */
}

.collapsed {
    width: 100px;
    padding: 20px;  
}

.collapsed .link_name{
    display: none;
}

.collapsed .logo_name {
    display: none;
}

.collapsed .btn{
    position: absolute;
    top: 4.9rem; /* Adjust this to align with the XpoArena name */
    left: 340px; /* Adjust this to move the button to the right of the sidebar */
    border: none;
    background-color: #fff;
    width: 1.5rem;
    height: 1.5rem;
    border:1px solid #e5e7eb;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 9999; 
    transition: left 0.3s ease, top 0.3s ease; /* Smooth transition for left and top properties */
    /* Ensure the button is above other elements */
}
/* CSS */
.btnCollapsed {
    left: 65px; /* Adjust this value to where you want the arrow to be when collapsed */
    top: 5rem;
}
.sidebar_link{
    display: flex;
    flex-direction: row;
}

.collapsed .downArrow{
    display: none;
}
.downArrow{
    margin-left: 70px;
}
.collapsed .colors{
    display: none;
}
.colors{
    padding:15px;
    border: 2px solid black;
}
.colorList{
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
    gap:0.6rem;
}

.backgroundVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100; /* Ensure it's in the background */
    background-size: cover;
    object-fit: cover;
  }
  
  .middle{
    position: relative;
  }

  .addgame{
    width: 140px;
    height:50px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color:#4F6F52;
    color: white;
    
  }