.logoimage {

    display: block;
    /* margin: 0 auto 0px; */
    max-width: 350px;
    /* Adjust this to set the image size */
    max-height: 350px;
    /* Adjust this to set the image size */
    width: auto;
    /* to maintain aspect ratio */
    height: auto;
    /* to maintain aspect ratio */
    border-radius: 10px;
    opacity: 0.5;
}

.imagecontainer {
    position: relative;
    max-width: 400px;

}

.inputfield {
    width: 100%;
    padding: 15px;
    margin-bottom: 1rem;
    border: 2px solid #333;
    background: #222;
    color: #fff;
    border-radius: 7px;
    height: 37px;
    margin: 0;
}

.imageoverlay {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagetext {
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
 
}
.btnprimary {
    background-color: #39573c;
    /* Replace with the olive/green color you have in the app */
    color: #fff;
    
    padding: 15px;
    border: none;
    width: 100%;
    border-radius: 7px;
    margin-top: 0.6rem;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 30px;
    line-height: 3px;
    padding: 0;
    font-size: 15px;
    font-weight: 500;
}

.btnprimary:hover{
    background-color: rgba(54, 78, 58, 0.5); 
}

