.reservebutton{
    width: 100%;
    text-align: center;
    background-color: #4F6F52;
    border-radius: 5px;
    padding: 10px 0;
    color: white;
    font-size: 13px;
    font-weight: 500;
}
.bestseller{
    border:1px solid #D2D0D0;
    width:100px;
    height:100%;
    font-size: 11px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    background-color: #E8E7E7;
}



  .seeall{
    border-bottom: 2px solid #4F6F52;
  }
  